***************
Getting Started
***************

Welcome! You've found the documentation for ``kicker``, good for you! This is an epic crossover episode of a package in which we bring the worlds of rapid population synthesis and galactic dynamics together and see what happens.

You should know that package relies heavily on :mod:`cosmic` and :mod:`gala` and I recommend you check out their respective documentation.

Okay, let's get into this!

Basic imports
=============

For more of the examples that I give in this documentation you're probably going to need the following basic imports. You can always read more about :mod:`numpy` and :mod:`astropy.units` at those respective links.

In [1]:
import numpy as np
import astropy.units as u

Create your first population
============================

The central class in this package is :class:`~kicker.pop.Population`. The class gives you access to the functionality of the entire package with one convenient interface. Let's start by creating a small population of binaries with the default settings.

In [2]:
import kicker
p = kicker.pop.Population(1000)

Holoviews not imported. Some visualizations will not be available.
PyMultiNest not imported.  MultiNest fits will not work.

Though this class is initialised, we still need to actually create the population to find its present day state. We do this by running:

In [3]:
p.create_population()

Run for 1000 binaries
Ended up with 6 binaries with masses > 7 solar masses
[1e-02s] Sample initial binaries

/home/tomwagg/anaconda3/envs/cosmic-gala/lib/python3.10/site-packages/cosmic/evolve.py:258: UserWarning: The value for binfrac in initial binary table is being overwritten by the value of binfrac from either the params file or the BSEDict.
  warnings.warn("The value for {0} in initial binary table is being "

'zsun' is set to a different value than assumed in the mlwind prescriptions (you set it to '0.014' and in mlwind, zsun_wind=0.019)
[0.1s] Evolve binaries (run COSMIC)
[0.1s] Get orbits (run gala)
Overall: 0.2s

This function has just
- Sampled the initial binaries from :mod:`cosmic`
- Sampled their initial kinematics and birth times from the Galaxy model
- Evolved the binaries from birth until present day using :mod:`cosmic`
- Evolved the orbits of the binaries through the galaxy using :mod:`gala`

In [4]:
p.classes

,dco,co-1,co-2,xrb,walkaway-t-1,walkaway-t-2,runaway-t-1,runaway-t-2,walkaway-o-1,walkaway-o-2,runaway-o-1,runaway-o-2,widow-1,widow-2,stellar-merger-co-1,stellar-merger-co-2,pisn-1,pisn-2
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,True,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
5,False,True,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False

In [5]:
p.final_bpp

,tphys,mass_1,mass_2,kstar_1,kstar_2,sep,porb,ecc,RRLO_1,RRLO_2,...,bacc_1,bacc_2,tacc_1,tacc_2,epoch_1,epoch_2,bhspin_1,bhspin_2,bin_num,metallicity
0,3019.638954,1.277584,0.000000,13.0,15.0,0.0,0.0,-1.0,0.0001,-1.0000,...,0.0,0.0,0.0,0.0,52.372800,2.284175,0.0,0.0,0,0.023939
1,9532.512978,6.395104,0.000000,14.0,15.0,0.0,0.0,-1.0,0.0001,-1.0000,...,0.0,0.0,0.0,0.0,8.344503,-0.000214,0.0,0.0,1,0.010830
2,8895.721633,6.939108,0.000000,14.0,15.0,0.0,0.0,-1.0,0.0001,-1.0000,...,0.0,0.0,0.0,0.0,7.726855,0.000012,0.0,0.0,2,0.009168
3,6891.784507,0.000000,0.959071,15.0,11.0,0.0,0.0,-1.0,-1.0000,0.0001,...,0.0,0.0,0.0,0.0,-0.060213,143.495803,0.0,0.0,3,0.011635
4,8393.892811,1.825011,1.277584,13.0,13.0,-1.0,-1.0,-1.0,0.0001,0.0001,...,0.0,0.0,0.0,0.0,13.332014,34.413901,0.0,0.0,4,0.012137
5,7291.418583,6.091344,5.736309,14.0,14.0,-1.0,-1.0,-1.0,0.0001,0.0001,...,0.0,0.0,0.0,0.0,4.595982,4.810504,0.0,0.0,5,0.020558

In [6]:
p.final_coords

(<SkyCoord (Galactocentric: galcen_coord=<ICRS Coordinate: (ra, dec) in deg
     (266.4051, -28.936175)>, galcen_distance=8.122 kpc, galcen_v_sun=(12.9, 245.6, 7.78) km / s, z_sun=20.8 pc, roll=0.0 deg): (x, y, z) in kpc
     [(-0.64197127, -3.72629308, -0.12877154),
      (-1.46678   ,  1.55212407,  0.03389535),
      (-4.23416423, -0.48337642,  0.3240513 ),
      (-2.08818227,  4.46919973,  0.19111161),
      ( 6.14799444,  3.07939947, -2.18725764),
      ( 4.66078526,  0.16973227,  2.1393602 )]
  (v_x, v_y, v_z) in km / s
     [( 211.59521447,  -42.19855368,  33.99415606),
      (-122.4323934 , -138.88592597,  28.59908523),
      ( -18.04635176, -235.03546959,  51.36195148),
      (-209.75034813,  -99.87086129, -30.58780908),
      (-283.58194121,   38.94656481,  44.54593309),
      (  40.7275855 ,   81.30226876,  43.13532584)]>,
 <SkyCoord (Galactocentric: galcen_coord=<ICRS Coordinate: (ra, dec) in deg
     (266.4051, -28.936175)>, galcen_distance=8.122 kpc, galcen_v_sun=(12.9, 245.6, 7.78) km / s, z_sun=20.8 pc, roll=0.0 deg): (x, y, z) in kpc
     [(        inf,         inf,         inf),
      (        inf,         inf,         inf),
      (        inf,         inf,         inf),
      (        inf,         inf,         inf),
      (-1.79672798, -6.0318723 , -1.65851598),
      (-0.36670794, -2.41742414, -0.14917482)]
  (v_x, v_y, v_z) in km / s
     [(          inf,           inf,          inf),
      (          inf,           inf,          inf),
      (          inf,           inf,          inf),
      (          inf,           inf,          inf),
      (-252.86464892,   42.2285635 , -29.72179473),
      ( 110.9788868 , -184.91149999, 129.3112783 )]>)